
    <h1>Crear producto nuevo</h1>
        <form id="createProductForm">
            <label for="titleInput">title</label> <input id="titleInput" type="text"> <br>
            <label for="descriptionInput">description</label> <input id="descriptionInput" type="text"><br>
            <label for="priceInput">price</label> <input id="priceInput" type="number"><br>
            <label for="thumbnailInput">thumbnail</label> <input id="thumbnailInput" type="text"><br>
            <label for="codeInput">code</label> <input id="codeInput" type="text"><br>
            <label for="stockInput">stock</label> <input id="stockInput" type="number"><br>
            <button id="btnCreateProduct">Create</button>
        </form>

    <script src="/js/crearProducto.js"></script>

