<h1>Registro</h1>
<form id="registerForm">
    <label for="firstNameInput">Nombre</label><input type="text" id="firstNameInput" name="name">
    <br>
    <label for="lastNameInput">Apellido</label><input type="text" id="lastNameInput" name="lastname">
    <br>
    <label for="emailInput">Email</label><input type="email" id="emailInput" name="email">
    <br>
    <label for="ageInput">Edad</label><input type="number" id="ageInput" name="age">
    <br>
    <label for="passwordInput">Contraseña</label><input type="password" id="passwordInput" name="password">
    <br>
    <button type="submit">Registrarse</button>
</form>
<p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>

<script src="/js/register.js"></script>