
    <h1>Restablecer Contraseña</h1>
        <form id="restablecerForm">
            <label for="emailInput">Email</label> <input id="emailInput" type="email">
            <button id="btnForm">Restablecer</button>
        </form>
    </a>
    <script src="/js/restablecer.js"></script>