    <h1>restablecer
        <form id="tokenForm">
            <label for="emailInput">Email</label> <input id="emailInput" type="email">
            <label for="passwordInput">Contraseña Nueva</label> <input id="passwordInput" type="password">
            <button id="btnForm">Registrar</button>
        </form>
    <script src="/js/token.js"></script>