<style>
  .productDetailContainer{

  }
  .productDetail{
    
  }
</style>
<div class="productDetailContainer">
  <div class="productDetail">
    <h1>Product</h1>
    {{#each product}}
    <p>{{this.title}}</p>
    <p>{{this.description}}</p>
    <img src="{{thumbnails}}" alt="{{name}}">
    {{/each}}
  </div>

</div>